.contact{
    position: relative;
}

.jack{

    width: 30rem;
    height: 30rem;
    position: absolute;
    left: 1rem;
    top: 0;
    transform: translateY(-55%);
    -webkit-transform: translateY(-55%);
    -moz-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    -o-transform: translateY(-55%);
    cursor: pointer;
    overflow: visible;
}
.jack > *{
   
    overflow: visible;
}
.jack .eye {
    fill: white;
    z-index: 100;
    box-shadow: var(--shadow-values);
    
}

.jack .eye{
    animation: blinking 2s ease  infinite;
    -webkit-animation: blinking 2s ease  infinite;
}


#stretchyellow{
    fill:#ffd415 ;
    
}

@keyframes blinking {
    0%,100%{
        opacity: 0;
    }

    10%{
        opacity: 1;
    }

    90%{
        opacity: 1;
    }
    
}