.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

}

.self-status-wrapper{

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


.status-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.outer-circle {
  --GPA: calc((3.51 / 4) * 100%);
  width: 15rem;
  height: 15rem;
  border: 2px solid var(--outer-circle-border);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(
    var(--sec) var(--GPA),
    white calc(100% - var(--GPA))
  );
  box-shadow: var(--shadow-values) ;
  cursor: grab;
}

.inner-circle {
  width: 11rem;
  height: 11rem;
  background-color: var(--sec-dark);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow:  var(--shadow-values) , var(--inset-shadow-values);
}

.inner-circle h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-shadow: var(--shadow-values);
}

/***to transition only when leaving element**/
.leave {
  transition: transform 0.3s ease-in-out;
  -webkit-transition: transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
}

.inner-circle h4 span {
  font-size: 1.2rem;
}

.skills .status {
  width: 25rem;
  height: 6rem;
  background-color: var(--sec);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  box-shadow: var(--shadow-values);
  font-weight: 500;
}

.skills .active-status {
  background-color: var(--green);
  color: var(--sec-dark);
}

.skills .h2-active {
  color: var(--green);
}

@media (max-width: 900px) {
  .contact {
    flex-direction: column;
  }

  .contact .form {
    width: 100%;
  }
}


